In [6]:
import pandas as pd
import numpy as np
from utils import load_data

adj, features, labels, idx_train, idx_val, idx_test = load_data()
n_class = labels.max().item()+1 #0부터 시작하므로
n_nodes = features.shape[0]
permute = np.random.permutation(10)
permute

Loading cora dataset...

array([7, 0, 1, 5, 3, 6, 9, 8, 2, 4])

In [34]:
corrupted_idx = np.random.permutation(n_nodes)
corrupted_features = features[corrupted_idx, :]

In [14]:
df_features = pd.DataFrame(features)

In [23]:
df_feature = pd.DataFrame(features.numpy())

In [283]:
num

6

In [286]:
labeld_df.label.value_counts()

5    55
4    39
2    30
1    23
3    22
6    11
Name: label, dtype: int64

In [279]:
original_index = labeld_df.index
original_index

Int64Index([   2,    3,   16,   21,   24,   34,   35,   37,   39,   45,
            ...
            2494, 2536, 2551, 2586, 2628, 2629, 2647, 2655, 2666, 2687],
           dtype='int64', length=217)

,0,1,2,3,4,5,6,7,8,9,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
21,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
2655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
2666,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2687,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3

In [252]:
def corrupt_data(feat):
    for num in range(n_class):
        df_feature = pd.DataFrame(feat.numpy())
        df_feature['label'] = labels
        labeld_df = df_feature[df_feature['label'].apply(lambda x: x==num)]
        shuffled_df = labeld_df.sample(frac=1)
        shuffled_df.index = labeld_df.index
        if num ==0:
            all_df = shuffled_df
        else:
            all_df = pd.concat([all_df, shuffled_df])
    all_df.sort_index(inplace=True)
    all_df.drop(columns='label', inplace=True)
    return torch.tensor(np.array(all_df))

,0,1,2,3,4,5,6,7,8,9,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2706,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [ ]:
n_class

In [142]:
import random

random.shuffle(groups)
groups
#groups = [df for _, df in df.groupby('sampleID')]
#random.shuffle(groups)

#pd.concat(groups).reset_index(drop=True)

[        0    1    2    3    4    5    6    7    8    9  ...  1424  1425  1426  \
 11    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   1.0
 22    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 38    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 42    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 53    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
 2688  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2702  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2703  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2704  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2705  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0

       1427  1428  1429  1430  1431  1432  label
 11     0.0   0.0   0.0   0.0   0.0   0.0      2
 22     0.0   0.0   0.0   0.0   0.0   0.0      2
 38     0.0   0.0   0.0   0.0   0.0   0.0      2
 42     0.0   0.0   0.0   0.0   0.0   0.0      2
 53     0.0   0.0   0.0   0.0   0.0   0.0      2
 ...    ...   ...   ...   ...   ...   ...    ...
 2688   0.0   0.0   0.0   0.0   0.0   0.0      2
 2702   0.0   0.0   0.0   0.0   0.0   0.0      2
 2703   0.0   0.0   0.0   0.0   0.0   0.0      2
 2704   0.0   0.0   0.0   0.0   0.0   0.0      2
 2705   0.0   0.0   0.0   0.0   0.0   0.0      2

 [418 rows x 1434 columns],
         0    1    2    3    4    5    6    7    8    9  ...  1424  1425  1426  \
 0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   1.0
 7     0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 8     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 10    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 14    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
 2684  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2686  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2691  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2701  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2707  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0

       1427  1428  1429  1430  1431  1432  label
 0      0.0   0.0   0.0   0.0   0.0   0.0      5
 7      0.0   0.0   0.0   0.0   0.0   0.0      5
 8      0.0   0.0   0.0   0.0   0.0   0.0      5
 10     0.0   0.0   0.0   0.0   0.0   0.0      5
 14     0.0   0.0   0.0   0.0   0.0   0.0      5
 ...    ...   ...   ...   ...   ...   ...    ...
 2684   0.0   0.0   0.0   0.0   0.0   0.0      5
 2686   0.0   0.0   0.0   0.0   0.0   0.0      5
 2691   0.0   0.0   0.0   0.0   0.0   0.0      5
 2701   0.0   0.0   0.0   0.0   0.0   0.0      5
 2707   0.0   0.0   0.0   0.0   0.0   0.0      5

 [818 rows x 1434 columns],
         0    1    2    3    4    5    6    7    8    9  ...  1424  1425  1426  \
 1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   1.0   0.0
 29    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 86    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 87    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 106   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
 2640  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2649  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2650  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2663  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2668  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0

       1427  1428  1429  1430  1431  1432  label
 1      0.0   0.0   0.0   0.0   0.0   0.0      0
 29     0.0   0.0   0.0   0.0   0.0   0.0      0
 86     0.0   0.0   0.0   0.0   0.0   0.0      0
 87     0.0   0.0   0.0   0.0   0.0   0.0      0
 106    0.0   0.0   0.0   0.0   0.0   0.0      0
 ...    ...   ...   ...   ...   ...   ...    ...
 2640   0.0   0.0   0.0   0.0   0.0   0.0      0
 2649   0.0   0.0   0.0   0.0   0.0   0.0      0
 2650   0.0   0.0   0.0   0.0   0.0   0.0      0
 2663   0.0   0.0   0.0   0.0   0.0   0.0      0
 2668   0.0   0.0   0.0   0.0   0.0   0.0      0

 [180 rows x 1434 columns],
         0    1    2    3    4    5    6    7    8    9  ...  1424  1425  1426  \
 6     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 9     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 20    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 25    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 40    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   1.0
 ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
 2689  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2690  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2694  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   1.0
 2695  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2696  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0

       1427  1428  1429  1430  1431  1432  label
 6      0.0   0.0   0.0   0.0   0.0   0.0      1
 9      0.0   0.0   0.0   0.0   0.0   0.0      1
 20     1.0   0.0   0.0   0.0   0.0   0.0      1
 25     0.0   0.0   0.0   0.0   0.0   0.0      1
 40     0.0   0.0   0.0   0.0   0.0   0.0      1
 ...    ...   ...   ...   ...   ...   ...    ...
 2689   0.0   0.0   0.0   0.0   0.0   0.0      1
 2690   0.0   0.0   0.0   0.0   0.0   0.0      1
 2694   0.0   0.0   0.0   0.0   0.0   0.0      1
 2695   0.0   0.0   0.0   0.0   0.0   0.0      1
 2696   0.0   0.0   0.0   0.0   0.0   0.0      1

 [351 rows x 1434 columns],
         0    1    2    3    4    5    6    7    8    9  ...  1424  1425  1426  \
 13    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 30    0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 32    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 44    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 47    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
 2656  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2658  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2665  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   1.0   0.0
 2692  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2706  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0

       1427  1428  1429  1430  1431  1432  label
 13     0.0   0.0   0.0   0.0   0.0   0.0      3
 30     0.0   0.0   0.0   0.0   0.0   0.0      3
 32     0.0   0.0   0.0   0.0   0.0   0.0      3
 44     0.0   0.0   0.0   0.0   0.0   0.0      3
 47     0.0   0.0   0.0   0.0   0.0   0.0      3
 ...    ...   ...   ...   ...   ...   ...    ...
 2656   0.0   0.0   0.0   0.0   0.0   0.0      3
 2658   0.0   0.0   0.0   0.0   0.0   0.0      3
 2665   0.0   0.0   0.0   0.0   0.0   0.0      3
 2692   0.0   0.0   0.0   0.0   0.0   0.0      3
 2706   0.0   0.0   0.0   0.0   0.0   0.0      3

 [298 rows x 1434 columns],
         0    1    2    3    4    5    6    7    8    9  ...  1424  1425  1426  \
 2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 16    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 21    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 24    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
 2629  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2647  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2655  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2666  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2687  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0

       1427  1428  1429  1430  1431  1432  label
 2      0.0   0.0   0.0   0.0   0.0   0.0      6
 3      0.0   0.0   0.0   0.0   0.0   0.0      6
 16     0.0   0.0   0.0   0.0   0.0   0.0      6
 21     0.0   0.0   0.0   0.0   0.0   0.0      6
 24     0.0   0.0   0.0   0.0   0.0   0.0      6
 ...    ...   ...   ...   ...   ...   ...    ...
 2629   0.0   0.0   0.0   0.0   0.0   0.0      6
 2647   0.0   0.0   0.0   0.0   0.0   0.0      6
 2655   0.0   0.0   0.0   0.0   0.0   0.0      6
 2666   0.0   0.0   0.0   0.0   0.0   0.0      6
 2687   0.0   0.0   0.0   0.0   0.0   0.0      6

 [217 rows x 1434 columns],
         0    1    2    3    4    5    6    7    8    9  ...  1424  1425  1426  \
 4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 5     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   1.0
 12    0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 23    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 27    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
 2693  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2697  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2698  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2699  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0
 2700  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0

       1427  1428  1429  1430  1431  1432  label
 4      0.0   0.0   0.0   0.0   0.0   0.0      4
 5      0.0   0.0   0.0   0.0   0.0   0.0      4
 12     0.0   0.0   0.0   0.0   0.0   0.0      4
 23     0.0   0.0   0.0   0.0   0.0   0.0      4
 27     0.0   0.0   0.0   0.0   0.0   0.0      4
 ...    ...   ...   ...   ...   ...   ...    ...
 2693   0.0   0.0   0.0   0.0   0.0   0.0      4
 2697   0.0   0.0   0.0   0.0   0.0   0.0      4
 2698   0.0   0.0   0.0   0.0   0.0   0.0      4
 2699   0.0   0.0   0.0   0.0   0.0   0.0      4
 2700   0.0   0.0   0.0   0.0   0.0   0.0      4

 [426 rows x 1434 columns]]

In [ ]:

groups = [df for _, df in df.groupby('sampleID')]
random.shuffle(groups)

pd.concat(groups).reset_index(drop=True)

In [205]:
df_feature[2].sum(), shuffled_df[2].sum()

(70.0, 10.0)

In [203]:
labeld_df = df_feature[df_feature['label'].apply(lambda x: x==1)]
shuffled_df = labeld_df.sample(frac=1)
shuffled_df = shuffled_df.reset_index()
shuffled_df.index = labeld_df.index
shuffled_df

,index,0,1,2,3,4,5,6,7,8,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
6,2653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9,1824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
20,70,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
25,1337,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
40,695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2689,2054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2690,2197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2694,2350,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2695,574,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2696,1918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [211]:
labeld_df = df_feature[df_feature['label'].apply(lambda x: x==1)]
shuffled_df = labeld_df.sample(frac=1)
shuffled_df.index = labeld_df.index

In [248]:
import sklearn

for num in range(n_class):
    labeld_df = df_feature[df_feature['label'].apply(lambda x: x==num)]
    shuffled_df = labeld_df.sample(frac=1)
    shuffled_df.index = labeld_df.index
    if num ==0:
        all_df = shuffled_df
    else:
        all_df = pd.concat([all_df, shuffled_df])
all_df.sort_index(inplace=True)
all_df.drop(columns='label', inplace=True)
torch.tensor(np.array(all_df))

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

torch.Size([2708, 1433])

In [247]:
features.shape

torch.Size([2708, 1433])

,0,1,2,3,4,5,6,7,8,9,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [210]:
df_feature[2].sum(), all_df[2].sum()

(70.0, 70.0)

In [176]:
all_df.sort_index()

,0,1,2,3,4,5,6,7,8,9,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2
2704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [153]:
all_df

Empty DataFrame
Columns: []
Index: []

In [148]:
shuffled_df

,0,1,2,3,4,5,6,7,8,9,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2689,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2690,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2694,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [91]:
permute_label

array([153, 139, 178, 198,  21, 285,  15,  95, 314, 202,   8, 170, 341,
        16, 119, 109,  90, 206, 134,  23, 238, 203, 188,  52, 321, 217,
        81, 142, 180, 112,  80, 111, 221, 183, 240, 216,  49,  11, 250,
       278, 295, 287, 160, 326, 310, 265,  48, 268, 316, 200, 212, 225,
        85,  59,  43,  56, 305, 122, 161,  17, 315,  65,  66, 163, 209,
       292,  64, 235,  71,  14, 294, 167, 135, 236, 282, 345,   3,  54,
       165, 309, 327,  47, 237,  82,  87, 297, 281,  84, 325, 328, 319,
       255, 298, 130,  46, 215, 195,   9, 249, 151, 144, 337,  91,  83,
        35, 229, 213,  45, 273, 129,  36,  28,  96, 143,  88, 126,  74,
        37, 155, 261,  44, 313,  18, 280,  99, 106, 124, 125, 312, 120,
       263,  42, 101, 184, 185,   1,  38,  57, 199, 230, 162,  39, 107,
       191, 196, 276,   5,  24, 334,  98, 154,  67, 182, 219, 228, 253,
       146, 190, 347, 189, 307, 114, 244, 171, 179, 344,  10,  40, 207,
        55, 233, 303, 110,  26, 324, 149, 172, 248, 159, 174, 272, 210,
       116, 308,  60,  92, 177, 339, 117, 241, 192,   4, 231, 186, 343,
       169, 242,  70,  89, 128, 300,  53, 211, 349, 158, 102, 148, 317,
       108, 123, 318, 201, 289, 218,  93,  94, 187, 121, 145,  25, 258,
       105,  73, 156, 329,  13, 275,  20,  58, 132, 256,  33, 137, 232,
       181, 239, 115,  22, 220,   0, 284,  75, 342,  62, 264, 150, 301,
       104, 147, 245,  68, 152, 194, 157,  72,  19, 133, 224, 338, 226,
        34, 257, 173, 205, 259, 279, 222, 283, 302, 348, 223,  69, 127,
       331, 277, 346, 247, 270, 193,  30, 254, 227, 252, 243, 333, 269,
       166, 100, 197, 330, 271, 140, 168, 335, 322, 208, 138, 293,  76,
       175,  78, 262, 118, 176, 350,   6,   2, 290, 266, 204, 299,  61,
       311, 234,  79, 251, 274, 141,  12,  97, 131,   7, 336, 291,  32,
        51, 214, 320, 323, 103, 260,  50, 340, 246,  63,  29, 136, 288,
        86,  31, 113, 306, 164, 332, 267, 286,  41, 296,  27,  77, 304])

In [90]:
permute_label = np.random.permutation(labeld_df.shape[0])
labeld_df[permute_label:]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [[153 139 178 198  21 285  15  95 314 202   8 170 341  16 119 109  90 206
 134  23 238 203 188  52 321 217  81 142 180 112  80 111 221 183 240 216
  49  11 250 278 295 287 160 326 310 265  48 268 316 200 212 225  85  59
  43  56 305 122 161  17 315  65  66 163 209 292  64 235  71  14 294 167
 135 236 282 345   3  54 165 309 327  47 237  82  87 297 281  84 325 328
 319 255 298 130  46 215 195   9 249 151 144 337  91  83  35 229 213  45
 273 129  36  28  96 143  88 126  74  37 155 261  44 313  18 280  99 106
 124 125 312 120 263  42 101 184 185   1  38  57 199 230 162  39 107 191
 196 276   5  24 334  98 154  67 182 219 228 253 146 190 347 189 307 114
 244 171 179 344  10  40 207  55 233 303 110  26 324 149 172 248 159 174
 272 210 116 308  60  92 177 339 117 241 192   4 231 186 343 169 242  70
  89 128 300  53 211 349 158 102 148 317 108 123 318 201 289 218  93  94
 187 121 145  25 258 105  73 156 329  13 275  20  58 132 256  33 137 232
 181 239 115  22 220   0 284  75 342  62 264 150 301 104 147 245  68 152
 194 157  72  19 133 224 338 226  34 257 173 205 259 279 222 283 302 348
 223  69 127 331 277 346 247 270 193  30 254 227 252 243 333 269 166 100
 197 330 271 140 168 335 322 208 138 293  76 175  78 262 118 176 350   6
   2 290 266 204 299  61 311 234  79 251 274 141  12  97 131   7 336 291
  32  51 214 320 323 103 260  50 340 246  63  29 136 288  86  31 113 306
 164 332 267 286  41 296  27  77 304]] of <class 'numpy.ndarray'>

In [77]:
origin_df = labeld_df.reset_index()
origin_df

,index,0,1,2,3,4,5,6,7,8,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
0,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
3,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,2689,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
347,2690,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
348,2694,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
349,2695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
350,2696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [75]:
shuffle_df = sklearn.utils.shuffle(labeld_df)

In [76]:
shuffle_df

,0,1,2,3,4,5,6,7,8,9,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
2356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1189,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
508,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
574,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [70]:
 #셔플 후 다시 index 원래꺼로 대입
shuffle_df

,index,0,1,2,3,4,5,6,7,8,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
323,2481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
27,227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
284,2134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
285,2141,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
282,2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
43,378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
306,2331,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
163,1198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
147,1124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [71]:
shuffle_df.index = shuffle_df['index']
shuffle_df

,index,0,1,2,3,4,5,6,7,8,...,1424,1425,1426,1427,1428,1429,1430,1431,1432,label
index,,,,,,,,,,,,,,,,,,,,,
2481,2481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
227,227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2134,2134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2141,2141,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2110,2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
378,378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2331,2331,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1198,1198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1124,1124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [10]:
features.shape

torch.Size([2708, 1433])

In [5]:
features[corrupted_idx,:]

NameError: name 'corrupted_idx' is not defined

In [ ]:
corrupted_idx = np.random.permutation(n_nodes)
    corrupted_features = features[corrupted_idx, :]
    output = model(features, corrupted_features, adj)
    target = torch.cat([torch.ones(n_nodes), torch.zeros(n_nodes)]).unsqueeze(0)